// ----------------
// Layout rules

// Global layout
#__nuxt {
  min-height: 100vh;
}

#__layout {
  min-height: 100vh;
}

#__default_layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

// Navigation
nav {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.brand {
  font-size: 28px;
}

.nav_menu {
  display: flex;
  align-items: center;
}

.nav_link {
  margin-left: 16px;
}

a {
  transition: all 0.4s ease-in-out;
}

a:hover {
  color: #4834d4;
}

// Main container
main {
  padding: 24px;
  display: grid;
  height: 100%;
  gap: 24px 24px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "left right-up"
    "left right-middle"
    "left right-down";
}

.main_grid_box {
  padding: 16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: all 0.4s ease-in-out;
}

main > a {
  display: block;
}

main > a:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px, rgba(0, 0, 0, 0.26) 0px 1px 2px 0px;
}

.main_left {
  grid-area: left;
  display: flex;
  align-items: center;
}

.main_right_up {
  grid-area: right-up;
}

.main_right_middle {
  grid-area: right-middle;
}

.main_right_down {
  grid-area: right-down;
}
