// ----------------
// Reset properties

* {
  font-family: "Rubik";
  color: var(--text-color);
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  columns: inherit;
  text-decoration: none;
  color: var(--text-color);
}
